body{
margin:0 auto;
padding:0;
line-height: 1.5em;
background: #000000;
font-face: georgia;
}
#main {width:450px; margin:0 auto;}
#header{
    width:450px;
    background: #0082D6 url(https://live.staticflickr.com//65535//50280923786_24536ac10b_o.png) no-repeat; background-size: 363px 138px;
	height: 123px;
	overflow: hidden;
	}
#content{
    float: left;
    width: 100%;
    margin-top: 0;
    }
#left{
  float: left;
  width:300px;
  background: #000000;
  color: #ffffff;
  margin-top: 0;
  min-height:430px;
  overflow: hidden;
}
#right{
float: left;
   width: 150px; /*Width of left column*/
   margin-right: 0px; /*Set left margin to -(MainContainerWidth)*/
   background: #000000;
   color: #ffffff;
   padding-left:0px;
}
#footer{
   background: #000000;
   width:450px;
   color: #ffffff;
   text-align: center;
  }
.mejs__playlist::-webkit-scrollbar {
         background-image: linear-gradient(to right,#0165a3 50%, transparent 50%,#0a70ad 51%);
		 width:2px;
    }

.mejs__playlist::-webkit-scrollbar-thumb {
        background-color: black;
        border-radius: 50px;
   } 