html {
	background: #005fa3;
	height: -webkit-fill-available;
}

body{
margin:0 auto;
padding:0;
line-height: 1.5em;
background: #dcf0ff;
width: 1130px;
min-height: 100vh;
min-height: -webkit-fill-available;
}

b{font-size: 110%;}
em{color: red;}

#maincontainer{
width: 1130px; /*Width of main container*/
margin: 0 auto; /*Center container on page*/
}

#topsection{
background: #EAEAEA;
height: 90px; /*Height of top section*/
}

#topsection h1{
margin: 0;
padding-top: 15px;
}

#contentwrapper{
float: left;
width: 100%;
min-height: 55vh;
}

#contentcolumn{
margin-right: 400px; /*Set right margin to RightColumnWidth*/
}

#rightcolumn{
float: left;
width: 400px; /*Width of right column*/
margin-left: -400px; /*Set left margin to -(RightColumnWidth) */
background: #99d0fc;
}

#footer{
clear: left;
width: 1130px;
height: 120px;
background: transparent;
color: #FFF;
text-align: center;
padding: 4px 0;
position: absolute;
bottom: 0;
background-image: url('../static/panchmahabhut.png');
background-size: 500px 100px;
background-repeat: no-repeat;
background-position: center top;
}

#footer a{
color: #FFFF80;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

/* ####### responsive layout CSS ####### */

@media (max-width: 840px){ /* responsive layout break point */
	#maincontainer{
	width: 100%;
	}
	
	#contentwrapper{
	float: none;
	}
	
	#rightcolumn{
	float: none;
	width: 100%;
	margin-left: 0;
	}
	
	#contentcolumn{
	margin-right: 0;
	}
}
