.label {
	height: 50px;
	width: 50px;
	background-color:#027bd8;
}

input[type=text], input[type=password] {
  width: 340px;
  padding: 12px 20px;
  box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #027bd8;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=file]::file-selector-button {
  border: 2px solid #027bd8;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #027bd8;
  transition: 1s;
  height: 40px;
  color: white;
  width: 400px;
}

input[type=file]::file-selector-button:hover {
  background-color: #000000;
  border: 2px solid #000000;
}