.user {
background: url("../static/images/user.png") no-repeat; 
background-size: 25px 24px; 
background-position: center center; 
}

.age {
background: url("../static/images/age.png") no-repeat; 
background-size: 25px 24px; 
background-position: center center; 
}

.address {
background: url("../static/images/address.png") no-repeat; 
background-size: 25px 24px; 
background-position: center center; 
}


.other {
background: url("../static/images/other.png") no-repeat; 
background-size: 25px 24px; 
background-position: center center; 
}


.medical_file {
background: url("../static/images/medical_file.png") no-repeat; 
background-size: 35px 24px; 
background-position: center center; 
}

.clock {
background: url("../static/images/clock.png") no-repeat; 
background-size: 25px 24px; 
background-position: center center; 
}


.hand {
background: url("../static/images/hand.png") no-repeat; 
background-size: 25px 24px; 
background-position: center center; 
}

.home {
background: url("../static/images/home.png") no-repeat; 
background-size: 25px 24px; 
background-position: center center; 
}

.bank {
background: url("../static/images/bank.png") no-repeat; 
background-size: 25px 24px; 
background-position: center center; 
}

.expence {
background: url("../static/images/expence.png") no-repeat; 
background-size: 25px 24px; 
background-position: center center; 
}

.total {
background: url("../static/images/total.png") no-repeat; 
background-size: 25px 24px; 
background-position: center center; 
}

.balance {
background: url("../static/images/balance.png") no-repeat; 
background-size: 25px 24px; 
background-position: center center; 
}

.search {
background: url("../static/images/search.png") no-repeat; 
background-size: 25px 24px; 
background-position: center center; 
}

.lock {
background: url("../static/images/lock.png") no-repeat; 
background-size: 25px 24px; 
background-position: center center; 
}

.dove {
background: url("../static/images/dove.png") no-repeat; 
background-size: 25px 24px; 
background-position: center center; 
}

.at {
background: url("../static/images/at.png") no-repeat; 
background-size: 25px 24px; 
background-position: center center; 
}

.contact {
background: url("../static/images/phone_old.png") no-repeat; 
background-size: 25px 24px; 
background-position: center center; 
}

.gender {
background: url("../static/images/gender.png") no-repeat; 
background-size: 25px 24px; 
background-position: center center; 
}

.doctor {
background: url("../static/images/doctor.png") no-repeat; 
background-size: 30px 25px; 
background-position: center center; 
}

.degree {
background: url("../static/images/degree.png") no-repeat; 
background-size: 25px 30px; 
background-position: center center; 
}
