html {background: #d5e4ed;}

body{
margin:0 auto;
padding:0;
line-height: 1.5em;
background: #d5e4ed;
font-size: 16px;
font-family: georgia !important;
}

b{font-size: 110%;}
em{color: red;}

#maincontainer{
width: width:1130px; /*Width of main container*/
margin: 0 auto; /*Center container on page*/
color: #000000;
background: #d5e4ed;
text-align: center;
padding-left: 30px;
padding-right: 30px;
}

#topsection{
background:#d5e4ed;
background-size: 100% 100%;
height: 170px; /*Height of top section*/
width:100%;
}

#contentwrapper{
float: left;
width: 100%;
background: #d5e4ed;
min-height: 460px;
}

#contentcolumn{
margin-left: 0px; /*Set left margin to LeftColumnWidth*/
min-height: 460px;
background: #d5e4ed;
width: 100%;
}
#rightcolumn{
float: left;
width: 250px; /*Width of right column*/
margin-left: -250px; /*Set left margin to -(RightColumnWidth) */
background: #d5e4ed;
}
#footer{
margin:0 auto;	
clear: left;
width: 100%;
background: #000000 url(bg_credit.png) repeat-x bottom;
color: #FFFFFF;
text-align: center;
padding: 5px 0;
height: 50px;
-webkit-border-bottom-right-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 20px;
-moz-border-radius-bottomleft: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}
#footer a{
color: #FFFF80;
text-decoration: none;
}


