<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dr.Pankaj Joshi</title>
<link rel="stylesheet" href="{{ url_for('static', filename='2column.css') }}">    
<link rel="stylesheet" href="{{ url_for('static', filename='icon.css') }}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">                            
<link rel="stylesheet" href="{{ url_for('static', filename='modal.css') }}">                            
<script src="../static/equalcolumns.js" type="text/javascript"></script>

</head>
<body>
<div id="maincontainer">

<div style="height: 90px;">

</div>

<div id="contentwrapper">
<div id="contentcolumn">
<table style="width:700px; text-align:center;font-weight: bold;" align="center" cellpadding="10" cellspacing="15">
<tr><td style="font-size:40px;">Welcome</td></tr>
<tr><td style="font-size:40px;">To</td></tr>
<tr><td style="font-size:65px;">Dr.Pankaj Joshi's</td></tr>
<tr><td style="font-size:40px; padding-top:20px;">Online Consultation Service</td></tr>
</table>




</div>
</div>

<div id="rightcolumn">

<form action="{{ url_for('login') }}" method="post">
				
			<table style="width:400px;">
			<tr>
			<td class="label user">&nbsp;</td>
			<td><input id="username" name="username" type="text" placeholder="Username" /></td></tr>
			<tr>
			<td class="label lock">&nbsp;</td>
			<td><input id="password" name="password" type="password" placeholder="Password" /></td>
			</tr>
			<tr>
			<td colspan="2" align="center">
			<input type="submit" style="width:100%" value="Sign In">
			</td>
			</tr>	
			<tr>
			<td style="color: red; text-align:center;" colspan="2">{{ msg }}</td></tr>
						
			</table>
</form>
<center>
<span id="myBtn" style="width: 400px; color: blue; font-size: 18px; font-weight: bold; text-align: center;">Not Register Yet? Click Here To Register</span>
</center>

</div>

<div id="footer">
&nbsp;
</div>

</div>







<div id="register" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe style="height:300px; width: 410px; border:none; overflow-y: hidden;" scrolling="no" src="/register"></iframe>
  </div>

</div>


<script>
// Get the modal
var modal = document.getElementById("register");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>















</body>
</html>
