{% include "header.html"%}
{{ msgpr }}
<table style="width:700px;" align="center">
<thead>
</thead>
<tbody>
 {% for row in users %}  

<tr>
<td rowspan="8" width="200">
<a href="../static/uploads/{{ row['photo'] }}">
<img src="../static/uploads/{{ row['photo'] }}" height="200" />
</a>
</td>


<th align="right">Id: </th> <td>{{ row['id'] }}</td>
</tr>
<tr>
<th align="right">Full Name: </th> <td>{{ row['fullname'] }}</td>
</tr>
<tr>
<th align="right">User Name: </th> <td>{{ row['username'] }}</td>
</tr>
<tr>
<th align="right">Email: </th> <td>{{ row['email'] }}</td>
</tr>
<tr>
<th align="right">Age/ Gender: </th> <td>{{ row['age'] }}/ {{ row['gender'] }}</td>
</tr>
<tr>
<th align="right">Contact: </th> <td>{{ row['contact'] }}</td>
</tr>
<tr>
<th align="right">Address: </th> <td>{{ row['address'] }}</td>
</tr>

</table>


<div style="background:#2196EF; height: 35px; width: 1130px;" id="receiver{{ row['id'] }}">	

<div style="display:none;">

<input type="text" value="{{ row['id'] }}" id="myInput" />
</div>

<a href="/video_call/{{ row['id']}}">
<img src="../static/images/video.png" height="30px" /></a>
</button>


</div>

{% endfor %}