<base target="_parent">

<link href="../static/icon.css" rel="stylesheet">
<style>
#login {
  width: 400px;
  text-align: center;
  #background: #d5e4ed;;
  margin: 2px auto;
  overflow: hidden;
}


input {
	width: 310px;
  	height: 35px !important;
  	border: 1px solid #dee0e4;
  	padding: 0 15px;
}
input:focus {
  border: 1px solid #dee0e4;
}
input[type=submit] {
  width: 350px;
  background: #3274d6 !important;
  height: 50px !important;
  font-family: georgia !important;
  font-size: 16px !important;
  color: #ffffff !important;
  border: 1px solid #3274d6 !important;
  font-weight: bold;
}
input[type=submit]:hover {
	background: #00326e !important;
	}	

#login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #3274d6;
  	color: #ffffff;
}

#signupform {
  background-color: #ffffff;
  margin: 0 auto;
  font-family: georgia;
  padding: 10px;
  width: 400px;
  min-height:250px;
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
  background: #c6deff;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #3274d6;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: georgia;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #3274d6;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #3274d6;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #3274d6;
}

input[type=file]::file-selector-button {
  margin-top: -10px;
  margin-right: -15px;
  background: #3274D6;
  background-image: url("../static/images/browse.png");
  background-repeat: no-repeat;
  background-size: 80px 15px;
  background-position: center center;
  color: transparent;
  transition: 1s;
  width: 100px;
  border: 1px solid #3274D6;
  height: 50px;
  float: right;
}

input[type=file] {
  background-color: #ffffff;
  height: 47px;
  width: 400px;
}

input[type=file].invalid {
  background: #c6deff;
}

input.invalid {
  background: #c6deff;
}

.invalid {
  background: #c6deff;
}



</style>





<div id="login">
<form action="/signup" method="post" autocomplete="off" id="signupform" enctype="multipart/form-data">
  <div class="tab"> 

<table style="width: 400px; border:0; overflow: hidden;" align="center">
<tr>
<td align="center" width="50px" height="50px">
<label for="username"class="user"></label>
</td>
<td align="left" valign="middle" width="310px" height="50px">
<input type="text" id="txt_username" name="name" placeholder="Enter Username" minlength="3" oninput="this.className = ''"  required />
</td>
</tr>
<tr>
<td colspan="2" height="12px" style="text-align: center !important;"> 
<div id="uname_response" style="width:310px;"></div>
</td>
</tr>
<tr>
<td align="center" width="50px" height="50px">
<label for="email" class="at"></label>
</td>
<td align="left" valign="middle" width="310px" height="50px">
<input type="email" id="txt_email" name="email" placeholder="Email" oninput="this.className = ''"   required /> 
</td>
</tr>
<tr>
<td colspan="2" height="12px" style="text-align: center !important;"> 
<div id="uemail_response" style="width:310px;"></div>
</td>
</tr>
<tr>
<td align="center" width="50px" height="50px">
<label for="password" class="lock"></label>
</td>
<td align="left" valign="middle" width="310px" height="50px">
<input type="password" name="password" placeholder="Password" id="password" oninput="this.className = ''"  required>
</td>
</tr>
</table>
</div>
    
<div class="tab">
<table style="width: 400px; border:0; overflow: hidden;" align="center">
<tr>
<td align="center" width="50px" height="50px">
<input name="date" type="hidden" id="currentDate" oninput="this.className = ''"  /> 
<label for="fullname" title="Full Name" class="dove"></label>
</td>
<td align="left" valign="middle" width="310px" height="50px">
<input type="text" name="full_name" placeholder="Full Name" id="fullname" oninput="this.className = ''"  required>
</td>
</tr>

<tr>
<td align="center" width="50px" height="50px">
<label for="contact" class="contact"></label>
</td>
<td align="left" valign="middle" width="310px" height="50px">
<input type="text" name="contact" placeholder="Contact Number" oninput="this.className = ''" id="contact" required>
</td>
</tr>





<tr>
<td align="center" width="50px" height="50px">
<label for="address" class="address"></label>
</td>
<td align="left" valign="middle" width="310px" height="50px">
<input type="text" name="address" placeholder="Address" oninput="this.className = ''" id="address" required>
</td>
</tr>
</table>
</div>





  <div class="tab">Image:<br /><br />
  <p>
  <input type="file" name="file" title="Select File" oninput="this.className = ''" >
  <br /><br />
  </p>
  
  
   </div>
  
  
  
  
  <div style="overflow:auto; margin-right: 10px;">
    <div style="float:right;">
      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:10px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
</div>
</form>
	
    <div style="margin: 30px auto;">
       Already Registered?  <a href="/login_p" target="_self">Login Here</a> 	
    </div>
</div>	






<script>
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").style.display = "none";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("signupform").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
</script>


<script type="text/javascript">
  $(document).ready(function() {
   $("#txt_email").on('input', function(e) {
    $('#uemail_response').hide();
    $('#loading').show();
    if ($('#txt_email').val() == null || $('#txt_email').val() == "") {
     $('#uemail_response').show();
     $("#uemail_response").html("Email is required field.").css("color", "red");
    } else {
     $.ajax({
      type: "POST",
      url: "/email_check",
      data: $('#signupform').serialize(),
      dataType: "html",
      cache: false,
      success: function(msg) {
       $('#uemail_response').show();
       $('#loading').hide();
       $("#uemail_response").html(msg);
      },
      error: function(jqXHR, textStatus, errorThrown) {
       $('#uemail_response').show();
       $('#loading').hide();
       $("#uemail_response").html(textStatus + errorThrown);
      }
     });
    }
   });
  });
 </script>



<script type="text/javascript">
  $(document).ready(function() {
   $("#txt_username").on('input', function(e) {
    $('#uname_response').hide();
    $('#loading').show();
    if ($('#txt_username').val() == null || $('#txt_username').val() == "") {
     $('#uname_response').show();
     $("#uname_response").html("Username is required field.").css("color", "red");
    } else {
     $.ajax({
      type: "POST",
      url: "/user_check",
      data: $('#signupform').serialize(),
      dataType: "html",
      cache: false,
      success: function(msg) {
       $('#uname_response').show();
       $('#loading').hide();
       $("#uname_response").html(msg);
      },
      error: function(jqXHR, textStatus, errorThrown) {
       $('#uname_response').show().css("color", "red");
       $('#loading').hide();
       $("#uname_response").html(textStatus + errorThrown);
      }
     });
    }
   });
  });
 </script>
<script type="text/javascript">
  // Function which returns a minimum of two digits in case the value is less than 10
const getTwoDigits = (value) => value < 10 ? `0${value}` : value;

const formatDate = (date) => {
  const day = getTwoDigits(date.getDate());
  const month = getTwoDigits(date.getMonth() + 1); // add 1 since getMonth returns 0-11 for the months
  const year = date.getFullYear();

  return `${day}/${month}/${year}`;
}

const date = new Date();
document.getElementById('currentDate').value = formatDate(date);
    </script>

